.avatar {
    width: 3.5rem;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #301B0F;
}

.avatar img{
    width: 100%;
}

.log-user {
    display: flex;
    gap:0.5rem;
    color: #301B0F;
    font-size: 26px;
    font-family: 'imFellEnglish Regular';
}

.log-sign {
    text-decoration: none;
    color: inherit;
}
.user-info-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@font-face {
  font-family: "imFellEnglish";
  src: url('../../fonts/ImFellEnglish/IMFellEnglish-Regular.ttf');
}