header {
    display: grid;
    grid-template-columns: 33%  33%  33%;
    justify-content: space-between;
    background-color: #E6D3B0;
    border-bottom: 2px solid #301B0F;
    padding-left: 30px;
    padding-right: 30px;
    justify-items: right;
}
header button{
    justify-self: left;
}
header .logo-link{
    justify-self: center;
}

.logo-link {
    display: block;
    width: 10rem;
}

button {
    all: unset;
    width: 3.5rem;
    cursor: pointer;
}