/* 1. PALETA DE COLORES */
:root{
    --default-light: #f4d891;

    --default-brownlight: #2a2008;

    --default-sublight: #7F6C4D;

    --default-back: #F4E8D3;

    --default-dark: #301B0F;

    --default-orange: #DBAD81;

    --default-gold: #BE9F4A;

    --default-darker: #100902;
}

/* 2. BOTONES */
.btn {
    padding: 0.25rem;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px black;
    background-color: #8D1D10;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover {
    background-color: #BE2E12;
}

.form-btn {
    color: var(--default-light);
    font-family: 'Caudex';
    font-weight: bold;
    font-size: 26px;
    padding: 1rem;
    background-color: #8D1D10;
    border-radius: 8px;
    width: 40%;
    cursor: pointer;
    transition: 0.2s;
}
.form-btn:hover {
    background-color: #BE2E12;
}

/* 3. TEXTOS PERSONALIZADOS */
.text-mt-dark{
    color: var(--default-dark);
}

.text-mt-light{
    color: var(--default-light);
}

.text-mt-sublight{
    color: var(--default-sublight);
}

.text-mt-lighter{
    color: var(--default-back);
}

.text-mt-lightbrown {
    color: var(--default-brownlight);
}

/* 4. FONDOS PERSONALIZADOS */
.back-mt-light{
    background-color: var(--default-light);
}
.back-mt-dark{
    background-color: var(--default-dark);
}
.back-mt-darker{
    background-color: var(--default-darker);
}
.back-mt-lighter{
    background-color: var(--default-back);
}
.back-mt-orange{
    background-color: var(--default-orange);
}
.back-mt-sublight{
    background-color: var(--default-sublight);
}

/* 5. BORDER COLOR PERSONALIZADOS */
.border-gold {
    border-color: var(--default-gold);
}

.border-gold-light {
    border-color: #2f2207c8
}

.border-brown-light {
    border-color: var(--default-brownlight);
}

/* 6. SCROLLBAR */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 7. INPUTS */
.form-input {
    width: 100%;
    color: black;
    font-family: 'EB Garamond';
    font-weight: 400;
    color: var(--default-light);
    background-color: #30302E;
    border-bottom: 2px solid var(--default-light);
    border-radius: 4px 4px 0 0;
    height: 3.5rem;
    padding: 1rem;
    padding-top: 2rem;
}
.form-input:focus {
    outline: 0;
    border-bottom: 4px solid var(--default-light);
}
.form-input::placeholder {
    color: var(--default-light);
}

.label-floating {
    display: block;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--default-light);
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: 'Cinzel';
    font-weight: 400;
}
.form-input:focus + .label-floating {
    position: absolute;
    top: 0;
    transform: translateY(25%);
    font-size: 0.80rem;
    border-bottom: 1px solid var(--default-sublight);
}
.label-focus {
    display: block;
    position: absolute;
    left: 1rem;
    color: var(--default-light);
    pointer-events: none;
    transition: all 0.3s ease;
    top: 0;
    transform: translateY(25%);
    font-size: 0.80rem;
    border-bottom: 1px solid var(--default-sublight);
}

/* 8. BOX-SHADOW */
.shadow-surround {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

/*ANIMACIONES*/
#menu-sidebar {
    transform: translateX(-100%);
    transition: transform 0.15s ease-in-out;
}

#menu-sidebar.show {
    transform: translateX(0); /* visible */
}

/*BACKGORUNDS CON GRADIENTES*/
.bg-gradient-brown {
    background: linear-gradient(to bottom, #0d0500 10%, #190D04 50%,  #0d0500 100% )
}

.bg-gradient-torch {
    background: radial-gradient(circle at 10% 50%, #482203 0%, transparent 30% ),
                radial-gradient(circle at 80% 20%, #482203 0%, transparent 30% ),
                linear-gradient(to bottom, #0d0500 10%, #2B1302 50%,  #0d0500 100% )
}

.bg-gradient-lightbrown {
    background: linear-gradient(160deg, rgba(40,20,5,0.95) 0%, rgba(20,10,2,0.98) 100%)
}

.bg-gradient-red {
    background: linear-gradient(to right, #b33234 20%, #8f1d1f 50%, #701314 100%)
}

.bg-gradient-white {
    background: linear-gradient(160deg, #F3E6C9 0%, #E4D3A8 100%)
}

/*TEXT SHADOWS*/
.text-glow-torch {
    text-shadow: 0 0 7px #e17000;
}

/* FONTS */
@font-face {
    font-family: 'Caudex';
    src: url('/front/src/fonts/Caudex/Caudex-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Caudex';
    src: url('/front/src/fonts/Caudex/Caudex-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'IM Fell English';
    src: url('/front/src/fonts/IM_Fell_English/IMFellEnglish-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Petrona';
    src: url('/front/src/fonts/Petrona/Petrona-Regular.ttf');
}

@font-face {
    font-family: 'Cinzel';
    src: url('/front/src/fonts/Cinzel/static/Cinzel-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Cinzel';
    src: url('/front/src/fonts/Cinzel/static/Cinzel-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Cinzel';
    src: url('/front/src/fonts/Cinzel/static/Cinzel-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('/front/src/fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('/front/src/fonts/EB_Garamond/static/EBGaramond-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('/front/src/fonts/EB_Garamond/static/EBGaramond-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('/front/src/fonts/EB_Garamond/static/EBGaramond-Medium.ttf');
    font-weight: 600;
}

.caudex-bold {
    font-family: 'Caudex';
    font-weight: bold;
}

.caudex-regular {
    font-family: 'Caudex';
    font-weight: 400;
}

.english-regular {
    font-family: 'IM Fell English';
    font-weight: 400;
}

.petrona-regular {
    font-family: 'Petrona';
    font-weight: 400;
}

.cinzel-regular {
    font-family: 'Cinzel';
    font-weight: 400;
}

.cinzel-medium {
    font-family: 'Cinzel';
    font-weight: 600;
}

.cinzel-bold {
    font-family: 'Cinzel';
    font-weight: bold;
}

.decorative-bold {
    font-family: 'Cinzel Decorative';
    font-weight: bold;
}

.garamond-regular {
    font-family: 'EB Garamond';
    font-weight: 400;
}

.garamond-italic {
    font-family: 'EB Garamond';
    font-style: italic;
}

.garamond-medium {
    font-family: 'EB Garamond';
    font-weight: 600;
}