.navigator {
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: #301B0F;
    color: #E6D3B0;
    font-size: 26px;
    border-radius: 90px;
    overflow: hidden;
    align-self: center;
    margin-top: 0.65rem;
    font-family: "imFellEnglish Regular";
}
.navigator-button:first-child{
    border-radius: 90px 0 0 90px;
}
.navigator-button:last-child{
    border-radius: 0 90px 90px 0px;
}

.navigator-button {
    text-decoration: none;
    color: inherit;
    padding: 1.5rem 4rem;
}
.navigator-button:hover{
    color: #301B0F;
    background-color: #E6D3B0;
    transition: 0.25s;
}

@font-face {
    font-family: "imFellEnglish Regular";
    src: url('../../fonts/ImFellEnglish/IMFellEnglish-Regular.ttf');
}