nav {
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: #301B0F;
    color: #E6D3B0;
    font-size: 26px;
    border-radius: 90px;
    overflow: hidden;
    align-self: center;
    margin-top: 0.65rem;
}

.navigator-button {
    text-decoration: none;
    color: inherit;
    padding: 1.5rem 4rem;
}
.navigator-button:hover{
    color: #301B0F;
    background-color: #E6D3B0;
    transition: 0.25s;
    scale: calc(1.05);
}